<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <% if (typeof errors != 'undefined') { %>
        <ul class="alert alert-danger">
          <% for(error of errors) { %>
            <li class="mb-0"><%= error.msg %></li>
          <% } %>
        </ul>
      <% } %>
      <div>
        <label for="first_name">First Name</label>
        <input name="first_name" placeholder="first name" type="text" required value = "<%= locals.user? user.first_name : '' %>"/>
      </div>
      <div>
        <label for="last_name">Last Name</label>
        <input name="last_name" placeholder="last name" type="text" required value = "<%= locals.user? user.last_name : '' %>"/>
      </div>
      <div>
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" required value = "<%= locals.user? user.username : '' %>"/>
      </div>
      <div>
        <label for="password">Password</label>
        <input name="password" type="password" required />
      </div>
      <div>
        <label for="confirm_password">Confirm Password</label>
        <input name="confirm_password" type="password" required />
      </div>
      <button>Sign Up</button>
    </form>
  </body>
</html>
